<div class="container p-4">
    <div class="row">
        <div class="col-md-4  mx-auto">
            <div class="card">
                <div class="card-body">
                    <form action="/clients/new" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="title" placeholder="Title" autofocus>
                        </div>
                        <div class="form-group">
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" name="service1" id="" value="checkedValue" class="custom-control-input">
                              <span class="custom-control-indicator">Service 1</span>
                              <span class="custom-control-description"></span>
                            </label>
                            <label class="custom-control custom-checkbox">
                              <input type="checkbox" name="service2" id="" value="checkedValue" class="custom-control-input">
                              <span class="custom-control-indicator">Service 2</span>
                              <span class="custom-control-description"></span>
                            </label>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success col-12">
                                Agendar
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>