<header class="d-flex justify-content-center">
  <div class="row">
    <h1 class="col-12">Delta Digifier</h1>
    <h2 class="col-12">Llevamos tu negocio a la era digital</h2>
  </div>
</header>

<main class="container">
  <div>
    <h2>Nuestros servicios</h2>
    <p>Contamos con 5 servicios principales. Agenda tu cita con el que más se ajuste a tu necesidad.</p>
    <p>¿No estás seguro de qué necesitas? Mándamos un e-mail a help_me@deltadigifier.com</p>
  </div>
  <div class="row d-flex justify-content-center">
    <div class="col-5 border border-2 rounded-1 border-success mt-2 me-5 mb-4">
      <h3>Creación de Sitio Web</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit hic dolores autem aliquid blanditiis a, numquam nesciunt iusto deserunt maxime excepturi dolore maiores corporis commodi facilis labore quidem! Incidunt, temporibus.
      </p>
    </div>
    <div class="col-5 border border-2 rounded-1 border-success mt-2 mb-4">
      <h3>Creación de Aplicación Móvil</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit hic dolores autem aliquid blanditiis a, numquam nesciunt iusto deserunt maxime excepturi dolore maiores corporis commodi facilis labore quidem! Incidunt, temporibus.
      </p>
    </div>
    <div class="col-5 border border-2 rounded-1 border-success me-5 mb-4">
      <h3>Creación de Aplicación de Escritorio</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit hic dolores autem aliquid blanditiis a, numquam nesciunt iusto deserunt maxime excepturi dolore maiores corporis commodi facilis labore quidem! Incidunt, temporibus.
      </p>
    </div>
    <div class="col-5 border border-2 rounded-1 border-primary mb-4">
      <h3>Campaña de Marketing Digital</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit hic dolores autem aliquid blanditiis a, numquam nesciunt iusto deserunt maxime excepturi dolore maiores corporis commodi facilis labore quidem! Incidunt, temporibus.
      </p>
    </div>
    <div class="col-5 border border-2 rounded-1 border-warning mb-4">
      <h3>Produccion Audiovisual</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit hic dolores autem aliquid blanditiis a, numquam nesciunt iusto deserunt maxime excepturi dolore maiores corporis commodi facilis labore quidem! Incidunt, temporibus.
      </p>
    </div>
  </div>
</main>